<header>
    <nav>
        <a href="index.html">Home</a>
        <a href="login.html">Login</a>
        <a href="registration.html">Registration</a>
        <a href="postvideo.html">Post Video</a>
        <a href="viewvideo.html">View Videos</a>
    </nav>
</header>