<header>
    <nav>


        <h1> <a href="/" id="home">ORORO</a></h1>
        {{!-- <div id="bar1"></div>
        <div id="bar2"></div>
        <div id="bar3"></div> --}}

        <div class="container">
            <form action="/post/search" method="get" id="search">
               <div><input class="input" id="searchBar" type="text" name="key" placeholder="Search..." />
               <span><button id="searchBtn" type="submit" class="button">Search</button></span> </div> 
            </form>
        </div>

        <a href="/postvideo" id="post">Post</a>
        {{#if isLoggedIn}}

        <a text-align="left" class="if1">Hi, {{user.username}}</a>

        <form action="/users/logout" method="post" class="if2">
            <button id="signout" type="submit" class="if2" class="button">Sign out</button>
        </form>

        {{else}}

        <a href="/login" class="if2">Sign in</a>
        <a href="/registration" class="if1">Create an account</a>

        {{/if}}

    </nav>
</header>