<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
    {{!-- <script defer src="/public/js/index.js"></script>  --}}
</head>

<body>
    
    <main>
        <h2>Welcome to the Home Page!!</h2>
        <div id="num">
        </div>


        <div class="badges" id="main-stuff">
            {{#each results}}
                <div class="badge">
                    <img src="/{{thumbnail}}" alt="">
                    <a href="/post/{{id}}">{{title}}</a>
                </div>
            {{/each}}
            </div>
        
       
       
    </main>
    <div>
    </div>
    
</body>


</html>