<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
</head>

<body>

    <main id="postvid">
        <h2 class="headr">Post Your Video</h2>
        <div class="post-video">
            <header>
                <h4>Follow the instructions below to post your video.</h4>
            </header>
            <form>
                <label for="title">Title of the video: </label>
                <input type="text" id="title" placeholder="Title" class="input" />

                <label for="description">Descrition of the video: </label>
                <input type="text" id="description" placeholder="Description" class="input" />

                <div>
                    <label for="video">Video file: </label>
                    <input type="file" id="video">
                </div>

                <div>
                    <label for="acceptingRules"> I accept the <a href="">Usage Policy</a></label>
                    <input type="checkbox" id="acceptingRules" />
                </div>

                <div>
                    <input type="submit" value="Submit Video" class="button" />
                </div>
            </form>
        </div>
    </main>
</body>

</html>