<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
</head>

<body>
    <h2>View Your Video</h2>

    <div>
        Post Title: My First Video
    </div>

    <div>
        Post Author: Sukrit
    </div>

    <div>
        Post Creation Time: June 21, 2023
    </div>

    <div>
        Video: 
        <div>
            <video>
                <source src="video.mp4" type=video/mp4>
            </video>
        </div>
    </div>

    <div>
        Comment Section:
        <div>
            <input type="text" id="comments">
        </div>
    </div>
</body>

</html>