html {
  background-color: navajowhite;
  font: 16px;
  color: black;
  padding: 0%;
  margin: 0%;
  height: 100%;
  overflow: auto;
}



body {
  margin: 0%;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: block;
  font: 1.2rem "Lucida Console", "Courier New";
  /* background-color:rgb(249, 246, 238); */
  /* background-color: #FAF9F6; */
background-color: #f0f0f0;
}

main {
  height: 100%;
  overflow: auto;
}

nav div form {
  margin: none;
}

a {
  color: hotpink;
  text-decoration: none;
}
.container {
  display: inline-block !important;
  /* float: right; */
  margin-right: none;
}

/* #searchBar, #searchBtn, form {
  display: inline-block;
} */

#searchBar {
  padding: 6px;
  width: 80%;
  margin: 0px 0px 0px 20px;
  /* font-size: 17px; */
  width: 100%;
  /* display: inline-block; */
  box-sizing: border-box;
  background-color: white;
  border: none;
  border-bottom: 5px solid rgb(250, 140, 195);
  border-radius: 1rem;
  outline: none;
  font-size: 1.2rem;
}
#searchBtn {
  width: auto;
  padding: 0.5rem;
  margin: 0.5rem 0rem 0rem 15rem;
  border-radius: 50rem;
  background-color: mediumslateblue;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  border: solid 2px rgb(250, 140, 195);
}
#searchBtn:hover {
  background-color: rgb(106, 84, 231);
}

nav {    
  text-align: left;
  font-size: 1.2rem;
  /* overflow: auto; */
  /* background-color:rgb(125, 228, 228); */
  background-color: mediumslateblue;
  width: 100%;
  /* border-top: 10px; */
  display: grid;
  grid-template-areas: 'home  search   post  if1 if2';
  overflow-x: auto;
  overflow-y: auto;
}
h1 {
  padding: 0.5rem;
  text-align: center;
  font: 2.5rem "Lucida Console", "Courier New";;
  background-color: mediumslateblue;
  color: rgb(250, 140, 195);
  font-weight: bolder;
  margin: 0%;
}
#home {
  grid-area: home;
}
#bar1 {
  grid-area: bar1;
}
#bar2 {
  grid-area: bar2;
}
#bar3 {
  grid-area: bar3;
}

#search {
  grid-area: search;
}
#post {
  grid-area: post;
  float: center;
}
.if1{
  grid-area: if1;
}
.if2 {
  grid-area: if2;

}
#signout {
  width: auto;
  padding: 0.5rem;
  margin: 0.7rem 0rem;
  border-radius: 50rem;
  background-color: mediumslateblue;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  border: solid 2px rgb(250, 140, 195);
}




a:hover {
  color: black;
  border-radius: 0.7rem;
  background-color: rgb(106, 84, 231);
  text-decoration: underline;
  border: 0.5px;
  /* border-style: solid; */
}

nav h1 a {
  color: rgb(250, 140, 195);
}
nav h1 a:hover {
  color: rgb(250, 140, 195);
  text-decoration: none;
}


nav a {
  color:black;
  /* text-align: center; */
  padding: 0.5rem;
  /* text-align: center; */
  margin: 0%;
  float: left;
}

a:active {
  background-color: rgb(106, 84, 231);
}

label {
  display: inline;
  padding: 0.3rem;
}

h3 {
  padding: 0rem;
}

footer {
  text-align: center;
}

h4, h3, footer, form{
  padding: 0.5rem;
  margin: 15px;
}

form {
  margin: 10px 15px 10px 15px;
}

h2 {
  text-align: center;
}

.input {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  background-color: white;
  border: none;
  border-bottom: solid;
  /* border-radius: 0.3rem; */
  margin: 13px 0px 13px 0px;
  outline: none;
  font-size: 1.2rem;
}

.button {
  width: 100%;
  padding: 0.5rem;
  margin: 0.7rem 0rem;
  border-radius: 50rem;
  background-color: mediumslateblue;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
}

input.button:hover {
  border: 1px;
  border-style: solid;
  border-color: black;
  background-color: rgb(114, 91, 241);
}

input.username:active {
  border: 2px;
  border-style: solid;
  border-color: black;
}

div {
  margin: 0.5rem 0rem;
}

.invalid-input {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  background-color: white;
  border: none;
  border-bottom: red solid;
  padding: 0.5rem;
  outline: none;
  font-size: 1.2rem;
}

.valid-input {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  background-color: white;
  border: none;
  border-bottom: green solid;
  padding: 0.5rem;
  font-size: 1.2rem;
  outline: none;
}

.badges {
  display: grid;
  /* width: 100%;
  height: 100px;  */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-auto-flow: dense;
  width: 100vw;
  height: 100vh;
}

.badge {
  overflow: auto;
  padding: 12px;
  border: 1px;
  margin: 15px 15px 15px 15px;
  color: mediumslateblue;
  font-family: "Lucida Console", "Courier New";
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 
  0.2px 0.2px 10px grey,
  -0.2px -0.2px 10px grey;
  display: grid;
  grid-template-areas: 'l m1 r' 'l th r' 'l ti r' 'l m2 r';
  /* grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr); */
  /* width: 100vw;
  height: 100vh; */
}

#l {
  grid-area: l;
}
#m1 {
  grid-area: m1;
}
#m2 {
  grid-area: m2;
}
#thumb {
  grid-area: th;
}
#ti {
  grid-area: ti;
}
/* .autoPlay {
  display: grid;
  grid-template-areas: "post";
  padding: 12px;
  border: 1px;
  margin: 15px 15px 15px 15px;
  color: mediumslateblue;
  font-family: "Lucida Console", "Courier New";
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 
  0.2px 0.2px 10px grey,
  -0.2px -0.2px 10px grey;
} */
/* 
.hoverPlay1 {
  grid-area: 2/2/2/2;
  z-index: 1;

  
  /* height: 100%; */
  /* width: 100%; */
/* } */
.hoverPlay2 {
  grid-area: 2/2/2/2;
z-index: 3;
  
  /* height: 100%; */
  /* width: 100%; */
} 

#reg, #login, #postvid {
  display: grid;
  
  grid-template-columns: 1fr 0.25fr 0.5fr 0.25fr 1fr;
  grid-template-rows: 0.25fr 1fr 1fr 1fr 0.25fr;
  overflow-x: auto;
  overflow-y: auto;
}

.headr {
  grid-column: 3;
  grid-row: 1;
}

.reg-form {
  grid-area: 2/2/5/5;
  color: mediumslateblue;
  font-family: "Lucida Console", "Courier New";
  background-color: white;
  border-radius: 0.5rem;
  /* box-shadow: 
  5px 5px 5px grey,
  -5px -5px 5px grey; */
  border-style: solid;
  border-width: 1px;
  border-color: rgb(179, 170, 170);
  overflow-x: auto;
  overflow-y: auto;
}

.login-form {
  grid-area: 2/2/4/5;
  color: mediumslateblue;
  font-family: "Lucida Console", "Courier New";
  background-color: white;
  border-radius: 0.5rem;
  /* box-shadow: 
  1px 1px  grey,
  -1px -1px  grey; */
  border-style: solid;
  border-width: 1px;
  border-color: rgb(179, 170, 170);
  overflow-x: auto;
  overflow-y: auto;
}

.post-video {
  grid-area: 2/2/4/5;
  color: mediumslateblue;
  font-family: "Lucida Console", "Courier New";
  background-color: white;
  border-radius: 0.5rem;
  /* box-shadow: 
  5px 5px 20px grey,
  -5px -5px 20px grey; */
  border-style: solid;
  border-width: 1px;
  border-color: rgb(179, 170, 170);
  overflow-x: auto;
  overflow-y: auto;
}

#smallMessage {
  font-size: 17px;
  margin: 20px 0px 10px 0px;
}

#smallMessage a:hover {
  color: rgb(204, 0, 102);
  background-color: white;
  text-decoration: underline;
}

.rules a:hover {
  color: rgb(204, 0, 102);
  background-color: white;
  text-decoration: underline;
}

.alert {
  width: 50%;
  text-align: center;
  margin: auto;
}

#postPage {
  display: grid;

  grid-template-areas: 
  'left title title right' 
  'left vid vid right' 
  'left vid vid right'
  'left vidT vidT right' 
  'left author time right'
  'left description description right'
  'left commentSec commentSec right'
  'left comments comments right';
  overflow-x: auto;
  overflow-y: auto;
  grid-gap: 10px;

  /* grid-template-columns: repeat(9,1fr); */
  /* grid-template-rows: repeat(9,1fr); */
}
#commentsList {
  grid-area: comments;
  
}
#commentSec{
   grid-area: commentSec;
  
}
#author {
  grid-area: author;
 
}

#time {
   grid-area: time;
   
}
.barL {
  grid-area: left;
  
}
.barR {
  grid-area: right;
 
}

#title {
  grid-area: title;
  
}
#vid {
  grid-area: vid;
  
}
#vidT {
  grid-area: vidT;
 
}
#description {
  grid-area: description;
 
}